<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MyDbConnection"
     connectionString="Server=TKAZU\SQLEXPRESS;Database=HXSample;Integrated Security=True;Encrypt=False;Connection Timeout=30;"
     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
